:root {
    --bg-color: #fcfcfc;
    --primary-color: #ffad12;
    --light-primary-color: #FABF43;
    --secoundry-color: #989898;
    --p-color: #515C6E
}

.p-color {
    color: var(--p-color);
}

body {
    background-color: var(--bg-color);
    font-family: 'gess-light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'gess-bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a,
.btn {
    font-family: 'gess-medium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    max-width: 150px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--secoundry-color);
}

.mw-340 {
    max-width: 340px;
}

.left-0 {
    left: 0;
}

.top {
    top: 0;
}

.btn-primary {
    padding: 5px 15px;
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0 6px 10px 0 var(--light-primary-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0 3px 5px 0 var(--light-primary-color);
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem var(--light-primary-color);
}

.h-80vh {
    min-height: 80vh;
}

.h-60vh {
    min-height: 60vh;
}

.navbar-light .navbar-nav .nav-link.en-color {
    color: #001737;
}

.navbar-light .navbar-nav .nav-link.en-color {
    color: #001737;
}

.input-group .btn {
    z-index: 3;
}

.left-3 {
    left: -3.625rem;
}

.icon {
    color: #E5E7F0;
    top: -40px
}

.p-f {
    font-family: 'gess-medium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.875rem;
}

.form-width {
    max-width: 40.625rem;
}

.input-form2 {
    border-radius: 0 20px 20px 0;
    background-color: #FCFCFC;
    padding-right: 28px;
}

.but-form2 {
    border-radius: 20px 0 0 20px;
    background-color: #F2F3F8;
}

.width-bon {
    width: 50px;
}

.border {
    border: 1px solid #E5E7F0!important;
}

.div-form {
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.form-img {
    left: 61px;
    bottom: 32px;
}

.bg-img {
    background-image: url("../images/Mask\ Group\ 3.svg");
    background-repeat: no-repeat
}
.form-width::before {
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("../images/Mask\ Group\ 3.svg");
}

@media (max-width: 767.98px) {
    .forms {
        flex-direction: column;
    }
    .div-form {
        padding: 12px;
        margin-top: 15px;
    }
    .icon {
        top: 0
    }
}

@media (max-width: 845px) {
    .left-3 {
        left: 0rem;
    }
}